@model guzFlightsUltra.BindingModels.Flight.InputBindingModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center">Create Flight</h4>
<hr />
<div class="row">
    <div class="col-md-6 mx-auto">
        <form action="/Flight/Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group p-1">
                    <select asp-for="From">
                        <option value="" disabled="true" , selected="true">Select starting location</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                </div>
                <div class="form-group p-1">
                    <select asp-for="To">
                        <option value="" disabled="true" , selected="true">Select end destination</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                </div>
                <div class="form-group">
                    <input asp-for="DepartureTime" class="form-control common-input mt-20" placeholder="Departure Time - MM/dd/yyyy hh::mm" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Departure Time - MM/dd/yyyy hh::mm'" />
                    <span asp-validation-for="DepartureTime" class="text-dark"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ArrivalTime" class="form-control common-input mt-20" placeholder="Arrival Time - MM/dd/yyyy hh::mm" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Arrival Time - MM/dd/yyyy hh::mm'" />
                    <span asp-validation-for="ArrivalTime" class="text-dark"></span>
                </div>
                <div class="form-group p-1">
                    <select asp-for="PlaneType">
                        <option value="" disabled="true" , selected="true">Select plane type</option>
                        <option value="0">Small</option>
                        <option value="1">Medium</option>
                        <option value="2">Large</option>
                    </select>
                </div>
                <div class="form-group">
                    <input asp-for="PlaneNumber" class="form-control common-input mt-20" data-val- placeholder="Plane Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Plane Number'" />
                    <span asp-validation-for="PlaneNumber" class="text-dark"></span>
                </div>
                <div class="form-group">
                    <input asp-for="PilotName" class="form-control common-input mt-20" placeholder="Pilot Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pilot Name'" />
                    <span asp-validation-for="PilotName" class="text-dark"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-dark" />
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
