@model guzFlightsUltra.BindingModels.Flight.InputBindingModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Create Flight</h4>

<div class="row">
    <div>
        <form action="/Flight/Create" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group">
                <div class="form-group p-1">
                    <label for="startDestination">From: </label>
                    <select asp-for="StartDestination">
                        <option value="" disabled="true" selected="true">Select starting location</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                </div>
                <div class="form-group p-1">
                    <label for="endDestination">To: </label>
                    <select asp-for="EndDestination">
                        <option value="" disabled="true" , selected="true">Select end destination</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="endDestination">Enter take off time: </label>
                    <input asp-for="TakeOffTime" type="date" asp-format="{0:dd-MM-yyyy}" placeholder="Take Off Time - dd/MM/yyyy" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Take Off Time - dd/MM/yyyy '" />
                </div>
                <div class="form-group">
                    <label for="endDestination">Enter time of arrival: </label>
                    <input asp-for="ArrivalTime" type="date" asp-format="{0:dd-MM-yyyy}" placeholder="Arrival Time - MM/dd/yyyy" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Arrival Time - dd/MM/yyyy'" />
                </div>
                <div class="form-group">
                    <label for="planeType">Plane Type: </label>
                    <select asp-for="PlaneType">
                        <option value="" disabled="true" , selected="true">Select plane type</option>
                        <option value="0">Small</option>
                        <option value="1">Medium</option>
                        <option value="2">Large</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="endDestination">Enter pilot name: </label>
                    <input asp-for="PilotName" class="form-control common-input mt-20" placeholder="Pilot Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pilot Name'" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-dark" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
