@model guzFlightsUltra.BindingModels.Reservation.CreateBindingModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Reserve Flight Tickets</h3>

<div class="row">
    <div>
        <form action="/Reservation/Make" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group" style="display: none">
                <input name="FlightId" value="@Model.FlightId" />
            </div>
            <div class="form-group p-1">
                <input asp-for="FirstName" class="form-group p-1" placeholder="First Name " onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" />
                <span asp-validation-for="FirstName" class="text-dark"></span>
            </div>
            <div class="form-group p-1">
                <input asp-for="SecondName" class="form-group p-1" placeholder="Second Name " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Second Name'" />
                <span asp-validation-for="SecondName" class="text-dark"></span>
            </div>
            <div class="form-group p-1">
                <input asp-for="LastName" class="form-group p-1" placeholder="Last Name " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" />
                <span asp-validation-for="LastName" class="text-dark"></span>
            </div>
            <div class="form-group p-1">
                <input asp-for="SSN" class="form-group p-1" placeholder="SSN " onfocus="this.placeholder = ''" onblur="this.placeholder = 'SSN'" />
                <span asp-validation-for="SSN" class="text-dark"></span>
            </div>
            <div class="form-group p-1">
                <input asp-for="PhoneNumber" class="form-group p-1" placeholder="Phone Number " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'" />
                <span asp-validation-for="PhoneNumber" class="text-dark"></span>
            </div>
            <div class="form-group p-1">
                <input asp-for="Nationality" class="form-group p-1" placeholder="Nationality " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nationality'" />
                <span asp-validation-for="Nationality" class="text-dark"></span>
            </div>
            <div class="form-group p-1">
                <label for="ticketType">Tickets type: </label>
                <select id="ticketType" asp-for="TicketType">
                    <option value="" disabled="true" , selected="true">Select ticket type</option>
                    <option value="NORMAL">Normal</option>
                    <option value="BUSSINESS_CLASS">Bussiness class</option>
                </select>
            </div>
            <div class="form-group p-1">
                <label for="ticketCount">Tickets Count</label>
                <input asp-for="TicketsCount" id="ticketCount" class="form-group p-1" placeholder="Tickets Count" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tickets Count'" />
                <span asp-validation-for="TicketsCount" class="text-dark"></span>
            </div>

            <div class="form-group p-1">
                <input asp-for="Email" class="form-group p-1" placeholder="Email " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" />
                <span asp-validation-for="Email" class="text-dark"></span>
            </div>
            <div class="form-group p-1">
                <input type="submit" value="Make" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
